
@{
    ViewData["Title"] = "Register";
}
 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact22</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
</head>
<body>
    <div id="app">
        <register-component></register-component>
    </div>

    <script src="@Url.Content("~/bundle/home.js")"></script>

</body>
</html>

