@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userlist</title>
</head>
<body>
    <div id="app">
        <userlist-component></userlist-component>
    </div>
 
    <script src="@Url.Content("~/bundle/home.js")"></script>
      
</body>
</html>